.cell {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    margin: 0px 5px 5px 0px;
}

.start {
    background-color: var(--start-node);
}

.finish {
    background-color: var(--finish-node);
}

.visited {
    background-color: var(--visited-node);
}

.path {
    background-color: var(--path-node);
}

.current {
    background-color: var(--current-node);
}

.wall {
    background-color: var(--wall-node);
}