.header {
    background-color: #a1cd70;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.header button {
    height: 100%;
    width: 60px;
    margin-right: 10px;
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: #79bdc3;
}

.header button:hover {
    background-color: #46949b;
    cursor: pointer;
}